*::before,
*::after{
    box-sizing: border-box;
}

*{
    box-sizing: border-box;
}
a:hover{
    color: white;
}

button:focus{
    outline: none;
    border: none;
}

button:active{
    outline: none;
    border: none;
}



html{
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}
h1,
h2,
h3,
h4{
    margin: 0;
    padding: 0;
}
ul,
ol,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    vertical-align: top;
}
p{
    margin: 0;
    padding: 0
}

.visually-hidden{
    visibility: hidden;
}
@font-face {
    font-family: 'Muller';
    src:local('Muller'), url("../fonts/MullerRegular.woff"),
        url("/../fonts/MullerRegular.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Muller';
    src:local('Muller'), url("../fonts/MullerLight.woff"),
        url("../fonts/MullerLight.woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src:local('Muller'), url("../fonts/MullerBold.woff"),
        url("../fonts/MullerBold.woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


.flex{
    display: flex;
}

body{
    font-family: Muller ,sans-serif;
    background-color: #F2F2F2;
}

.btn-reset{
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

._container{
    max-width: 1310px;
    padding: 0 100px;
    margin: 0 auto;
}

.section-title{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    color: #121723;
}

/* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header */
/* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header */
.header{
    background-color: #fff;
    position: relative;
}


.burger{
    height: 24px;
    width: 24px;
    align-items: center;
    position: relative;
    padding: 14px 20px;
    z-index: 4;
}
.burger__line{
    width: 24px;
    height: 3px;
    background-color: black;
    position: absolute;
    left: 30%;
    border-radius: 3px;
    transform: translateX(-50%);
    transition: transform .5s, opacity  .4s, background-color .4s;
}

.burger__line:nth-child(2){
    top: 45%;
}


.header-top.open .burger__line:nth-child(2){
	opacity: 0;
}

.header-top.open .burger__line:first-child{
    left:10%;
	top: 50%;
	transform:translateY(0) rotate(-45deg);
	transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
}
.header-top.open .burger__line:last-child{
	bottom: auto;
	left:10%;
	top: 50%;
	transform:translateY(0) rotate(45deg);
	transform-origin: center;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
}

.burger__line:nth-child(1){
    top: 3px;
}
.burger__line:nth-child(3){
    bottom: 3px;
}

.burger:hover .burger__line{
    background-color: #6D31EE;
}

.burger{
    display: none;
}

.header-logo-container{
    display: none;
}
.header-logo--1024{
    display: none ;
}

.header-top{
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 16px;
    align-items: center;
    position: relative;
}
.position{
    position: inherit;
}
.header-top-nav{

    justify-content: space-between;
}
.header-top-nav__list{
    justify-content: space-between;
    align-items: center;
}

.header-top-nav__item:not(:last-child){
    margin-right: 58px;
}

.header-top-nav__item{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.login-btn{
    outline: 2px solid #121723;
    border-radius: 77px;
    align-items: center;
    padding: 12px 32px;
    color: black;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    transition: background-color 0.3s ease-in-out,color 0.3s ease-in-out;
    margin-left: 19px;
}

.login-btn-320{
    display: none;
}


.login-btn:focus{
    background-color:#AA9DFA;
    color: black;
    outline: 2px solid black;
}

.login-btn:hover{
    background-color:black ;
    color: white ;
}

.login-btn:active{
    background-color:#4F28A5 ;
    color: white ;
}


.search-btn{
    margin-left: 60px;
}


.search-form{
    align-items: center;
    flex-wrap: nowrap;
    display: none;
    position: absolute;
    right: 125px;
    background-color: white;
}

.search-form__show{
    display: flex;
}


.search-btn-hidden{
    opacity: 0;
}
.header-bottom{
    align-items: center;
    border-top: 1px solid #E6E8EC;
    border-bottom: 1px solid #E6E8EC;
    justify-content: space-between;
}

.header-bottom-nav__item{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #121723;
}

.header-bottom-nav__item:not(:last-child){
    margin-right: 52px;
}

.header__link{
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header__link:hover{
    color: #6D31EE;
}

.header__link:focus{
    background-color: #AA9DFA;
    color: white;
}

.header__link:active{
    color: #4F28A5;
    color: white;
}

.inair-container{
    margin-left: 10px;
}
.inair-btn{
    margin-right: 6px;
}

.inair-btn svg path {
    transition: fill 0.3s ease-in-out;
}
.inair-btn svg circle {
    transition: stroke 0.3s ease-in-out;
}

.inair-btn svg circle {
    transition: fill 0.3s ease-in-out;
}

.inair-btn:focus svg path {
    fill: #AA9DFA;
}

.inair-btn:focus svg circle {
    stroke: #AA9DFA;
}


.inair-btn:hover svg path {
    fill: #6D31EE;
}

.inair-btn:hover svg circle {
    stroke: #6D31EE;
}

.inair-btn:active svg path {
    fill:  #4F28A5;

}

.search-form__open svg path {
    transition: stroke 0.3s ease-in-out;
}

.search-form__open:focus svg path{
    stroke: #AA9DFA;
}

.search-form__open:hover svg path{
    stroke: #AA9DFA;
}

.search-form__open:active svg path{
    stroke: #4F28A5;
}


.inair__subtitle{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #A1A6B4;
}

.inair{
    border-left: 1px solid #E6E8EC;
    border-right: 1px solid #E6E8EC;
    padding-left: 12px;
    padding-right: 48px;
}


/* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero */

.hero{
    margin-bottom: 94px;
    background-color: #fff;
}
.hero__content{
    padding-top: 94px;
    padding-bottom: 94px;
    flex-basis: 60%;
}

.hero__title{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 100%;
    color: #121723;
    margin-bottom: 14px;

}

.hero__text{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 46px;
    max-width: 600px;
}

.hero__btn{
    background: #6D31EE;
    border-radius: 40px;
    padding: 25px 54px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    transition: background-color 0.3s ease-in-out,color 0.3s ease-in-out;
}

.hero__btn:hover{
    background-color: #AA9DFA;
    color: white;
}
.hero__btn:focus{
    background-color: #AA9DFA;
    color: white;
}
.hero__btn:active{
    background-color: #4F28A5;
    color: white;
}
.hero__img{
    background-image: url("../img/microphone.png");
    width: 350px;
    height: 372px;
    margin-top: 30px;
}

.hero__container{
    justify-content: space-between;
}




/* podcasts *//* podcasts *//* podcasts *//* podcasts *//* podcasts *//* podcasts *//* podcasts *//* podcasts */
/* podcasts *//* podcasts *//* podcasts *//* podcasts *//* podcasts *//* podcasts *//* podcasts *//* podcasts */
.podcasts{
    margin-bottom: 93px;
}

.podcasts__item{
    background-color: white;
    flex-basis: calc(50% - 15px);
    height: 140px;
    margin-bottom: 30px;
    position: relative;
    align-items: center;
}

.podcasts__list{
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.play-btn{
    margin-right: 30px;
    margin-bottom: 30px;

}

.play-btn--320{
    display: none;
}
.play-btn svg path {
    transition: fill 0.3s ease-in-out;
}
.play-btn svg circle {
    transition: stroke 0.3s ease-in-out;
}

.play-btn svg circle {
    transition: fill 0.3s ease-in-out;
}

.play-btn:focus svg path {
    fill: #AA9DFA;
}

.play-btn:focus svg circle {
    stroke: #AA9DFA;
}


.play-btn:hover svg path {
    fill: #6D31EE;
}

.play-btn:hover svg circle {
    stroke: #6D31EE;
}

.play-btn:active svg path {
    fill: white;

}

.play-btn:active svg circle {
    stroke: #4F28A5;
    fill: #4F28A5;
}






.podcasts__item:nth-child(2n){
    margin-left:15px;
}

.podcasts__item:nth-child(2n+1){
    margin-right:15px;
}

.podcasts__item:nth-child(1) .podcasts__img{
    background-image: url("../img/Rectangle 7.png");
}



.podcasts__item:nth-child(2) .podcasts__img{
    background-image: url("../img/Rectangle 7 (1).png");
}

.podcasts__item:nth-child(3) .podcasts__img{
    background-image: url("../img/Rectangle 7 (2).png");
}

.podcasts__item:nth-child(4) .podcasts__img{
    background-image: url("../img/Rectangle 7 (3).png");
}

.podcasts__item:nth-child(5) .podcasts__img{
    background-image: url("../img/Rectangle 7 (4).png");
}

.podcasts__item:nth-child(6) .podcasts__img{
    background-image: url("../img/Rectangle 7 (5).png");
}

.podcasts__item:nth-child(7) .podcasts__img{
    background-image: url("../img/Rectangle 7 (6).png");
}

.podcasts__item:nth-child(8) .podcasts__img{
    background-image: url("../img/Rectangle 7 (7).png");
}


.podcasts__img{
    width: 112px;
    height: 140px;
    flex-shrink: 0;
}


.data{
    position: absolute;
    bottom: 0px;
    background-color: #E6E8EC;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #121723;
    padding: 3px 8px;
}

.podcasts__body{
    padding-left: 30px;
    margin-top: 5px;
    margin-bottom: 30px;
    border-bottom: 1px solid  #E6E8EC;
    width: 100%;
}

.podcasts__time{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.podcasts__subtitle{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #121723;
    margin-bottom: 4px;
}


.podcasts__author{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #A1A6B4;
}

.stats{
    position: absolute;
    bottom: 0;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #A1A6B4;
    padding-top: 6px;
    padding-bottom: 6px;
    align-items: center;
}

.stats__btn{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #A1A6B4;
    transition: color 0.3s ease-in-out;

}

.stats__btn svg path{
    transition: fill 0.3s ease-in-out;
}
.stats__btn:focus svg path{
    fill: white;

}

.stats__btn:hover svg path{
    fill: #6D31EE;
}


.stats__btn:active svg path{
    fill: #4F28A5;
}

.stats__btn:focus{
    color: white;
    background-color:#AA9DFA ;
}

.stats__btn:hover{
    color: #6D31EE;
}


.stats__btn:active{
    color: #4F28A5;
}

.stats__item:not(:last-child):not(:last-child){
    margin-right: 30px;
}

.podcasts__title{
    margin-bottom: 30px;
    left: 0;
}

.play-img{
    padding-right: 30px;
}

.podcasts__btn{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #6D31EE;
    outline: 2px solid #6D31EE;
    border-radius: 40px;
    padding: 25px 54px;
    transition: background-color 0.3s ease-in-out,color 0.3s ease-in-out;
}
.podcasts__btn:hover{
    background-color: #AA9DFA;
    color: white;
}

.podcasts__btn:focus{
    background-color: #AA9DFA;
    color: white;
}

.podcasts__btn:active{
    background-color: #4F28A5;
    color: white;
}

.podcasts__content{
    flex-direction: column;
    align-items: center;
}


/* broadcasts *//* broadcasts *//* broadcasts *//* broadcasts *//* broadcasts *//* broadcasts *//* broadcasts *//* broadcasts */
/* broadcasts *//* broadcasts *//* broadcasts *//* broadcasts *//* broadcasts *//* broadcasts *//* broadcasts *//* broadcasts */


.broadcasts__title{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 12px;
}
.broadcasts{
    padding-top: 95px;
    padding-bottom: 64px;
    margin-bottom: 17px;
    background-color: #fff;
}
.broadcasts-leftside{
    flex-basis: 30%;
    margin-right: 30px;
    flex-direction: column;
}

.broadcasts-leftside__body{
    margin-bottom: 219px;
}
.archive{
    flex-direction: column;
    align-items: flex-start;
}

.archive--768{
    display: none;
    align-content: center;
}
.archive__btn{
    font-weight: 600;
    padding: 12px 56px;
    border: 2px solid #121723;
    border-radius: 77px;
    font-size: 16px;
    line-height: 16px;
    color: #121723;
    margin-bottom: 12px;
    transition: color 0.3s ease-in-out ;
    transition: background-color 0.3s ease-in-out,color 0.3s ease-in-out;
}

.archive__btn:focus{
    background-color: #AA9DFA;
    outline: 1px solid #6D31EE;
    color: #FFFFFF;
}

.archive__btn:hover{
    background-color: #AA9DFA;
    color: #FFFFFF;
}

.archive__btn:active{
    background-color: #6D31EE;
    color: #FFFFFF;
}
.archive__text{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #A1A6B4;
}
.archive__img{
    background-image: url("../img/mic.png");
    width: 65px;
    height: 89px;
    margin-bottom: 24px;
}
.broadcasts-item{
    outline: 1px solid #E6E8EC;
    flex-basis: calc(33.3333% - 20px);
    margin-bottom: 30px;

}

.broadcasts-item:not(:nth-child(3n)){
    margin-right: 15px;
}
.broadcasts-item:nth-child(2){
    margin-left: 15px;
}
.broadcasts-item:nth-child(3){
    margin-left: 15px;
}
.broadcasts-item:nth-child(5){
    margin-left: 15px;
}
.broadcasts-item:nth-child(6){
    margin-left: 15px;
}


.broadcasts-item__card{
    height: 112px;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.broadcasts-item__img{
    width: 100%;
    height: 148px;
    background-repeat: no-repeat;

}
.broadcasts-item:nth-child(1) .broadcasts-item__img{
    background-image: url("../img/Frame\ 132.png");
}

.broadcasts-item:nth-child(2) .broadcasts-item__img{
    background-image: url("../img/Frame\ 132 (1).png");
}
.broadcasts-item:nth-child(3) .broadcasts-item__img{
    background-image: url("../img/Frame\ 132 (2).png");
}
.broadcasts-item:nth-child(4) .broadcasts-item__img{
    background-image: url("../img/Frame\ 132 (3).png");
}
.broadcasts-item:nth-child(5) .broadcasts-item__img{
    background-image: url("../img/Frame\ 132 (4).png");
}

.broadcasts-item:nth-child(6) .broadcasts-item__img{
    background-image: url("../img/Frame\ 132 (5).png");
}



.broadcasts__list{
    flex-wrap: wrap;
    margin-top: 12px;
}

.author{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #A1A6B4;
    margin-bottom: 8px;
}

.broadcasts-item__title{
    font-family: 'Muller';
    font-style: normal;
    font-weight:700;
    font-size: 20px;
    line-height: 20px;
    color: #121723;
    margin-bottom: 5px;
}

.broadcasts-item__data{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #A1A6B4;
}

.broadcasts-item__btn{
    font-family: 'Muller';
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #121723;
}





.choices {
    font-family: inherit;
    margin: 0;
    display: inline-block;
}
.choices.is-open {
    background: #E6E8EC;
    border-radius:7px;
}

.is-focused .choices__inner, .is-open .choices__inner {
    border: 1px solid #E6E8EC;
}

.choices[data-type*=select-one]:after {
    height: 8px;
    width: 8px;
    z-index: 3;
    top: 40%;
    border: 1px solid #e6e8ec;
    border-width: 0 0 1px 1px;
    transform: rotate(-45deg);

}

.choices[data-type*=select-one].is-open:after {
    top: 60%;
    border: 1px solid #e6e8ec;
    border-width: 1px 1px 0 0;
}

.choices__inner {
    position: relative;
    background: #E6E8EC;
    border-radius:7px;
    z-index: 2;
    min-height: 0;
    width: 255px;
    padding: 0;
    transition: background-color 0.3s ease-in-out;
}

.choices__inner:focus{
    background-color: #E6E8EC;
    outline: 1px solid #6D31EE;
}


.choices__inner:hover{
    background-color: #F5F6F7;
}

.choices__inner:active{
    background: #D2D5DD;
}

.choices__inner:focus{
    background-color: #E6E8EC;
    outline: 1px solid #6D31EE;
}


.broadcasts-item__btn{
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.broadcasts-item__btn:focus{
    background-color: #AA9DFA;
}

.broadcasts-item__btn:hover{
    color: #6D31EE;
}

.broadcasts-item__btn:active{
    color: #4F28A5;
    color: white;
}

.choices__inner:hover .choices__item--selectable{
    outline: none;
}
.choices[data-type*=select-one] .choices__inner {
    padding: 0;
}
.choices__list.choices__list--dropdown {
    margin-top: 22px;
    padding-top: 0;
}
.choices__list--single{
    padding: 8px 0px 8px 12px;
}
.is-open .choices__inner {
    border-radius:7px;
}

.choices__placeholder {
    opacity: 1;
}

.choices__list--dropdown .choices__placeholder {
    display: none;
}

.choices__list--dropdown { /*костыль*/
    padding-top: 30px;
    top: calc(100% - 30px);
}

.choices__list--dropdown .choices__item--selectable {
    padding-right: 10px;
}

.choices__item--choice{
    outline: 1px solid #E6E8EC;
}

.choices__list--dropdown.is-active {
    border: 1px solid #e6e8ec;
    border-top-width: 0;
    border-radius: 0 0 5px 5px;
}

.choices__list--dropdown .choices__item{
    padding-top: 20px;
}


/* guest *//* guest *//* guest *//* guest *//* guest *//* guest *//* guest *//* guest */
/* guest *//* guest *//* guest *//* guest *//* guest *//* guest *//* guest *//* guest */

.guests{
    background-color: #121723;
    color: #F2F2F2;
    padding-top: 94px;
    padding-bottom: 94px;
}

.guests__title{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.guests__subtitle{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #A1A6B4;
    margin-bottom: 8px;
}

.guests__prewiew{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    margin-bottom: 50px;
    color: #A1A6B4;
    max-width: 800px;
}


.artists__item{
    flex-basis: 100%;

}

.accordion-button{
    background-color: #121723;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    padding-top: 25px;
    padding-bottom: 20px;

}
.accordion-body{
    padding: 0;
    padding-top: 30px;
    padding-bottom: 15px;
}
.accordion-header{
    border-top:1px solid white;
    border-bottom:1px solid white;
}
.accordion-button:focus svg circle{
    fill: #4F28A5;
    stroke: #A1A6B4;
 }
 .accordion-button:focus svg path{
     stroke: #A1A6B4;
 }

.accordion-button:hover svg circle{
    transition: stroke 0.3s ease-in-out,fill 0.3s ease-in-out;
}
.accordion-button:hover svg circle{
    stroke: #AA9DFA;
}
.accordion-button:hover svg path{
    stroke: #AA9DFA;
}

.accordion-button:active svg circle{
    fill: #AA9DFA;
}
.accordion-button:active svg path{
    stroke: #FFFFFF;
}


.accordion-button::after{
    display: none;
}


.accordion-flush .accordion-item{
    background-color: #121723;
}


.accordion-header{
    background-color: #121723;
}

.search-form__input{
    padding-right: 30px;
    border: none;
    border-bottom: 2px solid #6D31EE;
    outline: none;
    width: 308px;
}


.accordion-button:not(.collapsed) {
    color: #F2F2F2;
    background-color: #121723;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.artists__btn{
    display: flex;
    justify-content: space-between;
}
.accordion-flush .accordion-item{
    margin-top: -1px;
}

.accordion-button:not(.collapsed) .accordion-button__svg{
    transform: rotate(180deg);
}





.accordion-header__colapsed{
    border-top: 1px solid #AA9DFA;
    border-bottom: 1px solid #AA9DFA;
}

.accordion-button:not(.collapsed) .accordion-button__svg path{
    stroke: #A1A6B4;
}

.accordion-button:not(.collapsed) .accordion-button__svg circle{
    stroke: #A1A6B4;
    fill: none;
}
.artists__btn{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 16px;
}



.artists__list{
    max-height: 179px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.artists__item--active{
    color: #6D31EE;
}
.artists__item{
    margin-right: 30px;
}

.accordin__list{
    flex-basis: 70%;
    margin-right: 30px;
}


.guests-card--active{
    display: block;
}



.guests-card__name{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 8px;


}
.social-media{
    display: flex;
    justify-content: space-between;
    width: 132px;
    margin-bottom: 12px;
}

.guests-card__dscr{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #A1A6B4;
    margin-bottom: 30px;
}

.guests-card__btn{
    outline: 2px solid #AA9DFA;
    padding: 12px 19px;
    border-radius: 77px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #AA9DFA;
    display: flex;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.guests-card__btn:focus{
    background-color: #6D31EE;
    color: #FFFFFF;
}
.guests-card__btn:hover{
    background-color: #AA9DFA;
    color: #FFFFFF;
}

.guests-card__btn:hover{
    background-color: #4F28A5;
    color: #FFFFFF;
}
.guests-card{
    flex-direction: column;
    flex-basis: 30%;
    align-items: flex-start;
    display: none;

}

.guests-card--active{
    display: flex;
}

.artists__btn--active{
    color: #AA9DFA;
}



.guests-card__img{
    width: 350px;
    height: 220px;
    margin-bottom: 12px;
}


/* playlist *//* playlist *//* playlist *//* playlist *//* playlist *//* playlist *//* playlist *//* playlist */
/* playlist *//* playlist *//* playlist *//* playlist *//* playlist *//* playlist *//* playlist *//* playlist */

.playlists{
    padding-top: 80px;
    padding-bottom: 65px
}


.playlists__title{
    margin-bottom: 12px;
}
.playlists__input{
    opacity: 0;
    max-width: 0;
    height: 0;
}
.playlists-item__img{

}
.playlists__form{
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 2px solid #D2D5DD;
    margin-bottom: 38px;
}
.playlists-cards{
    margin-top: 10px;
}
.playlists-select{
    flex-basis: 100%;
    margin-right: 30px;
    max-width: 350px;
}

.playlists__label span::after{
    content: "";
    position: absolute;
    display: block;
    left: -35px;
    top: -5px;
    width: 30px;
    height: 30px;
}

.playlists__label{
    display: flex;
    align-items: center;
}

.playlists__label:not(:last-child){
    margin-bottom: 21px;
}

.playlists__label span{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #121723;
    position: relative;
}

.playlists__label span::before{
    content: "";
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_61419_166)'%3E%3Ccircle cx='15' cy='15' r='13' fill='%236D31EE'/%3E%3Cg filter='url(%23filter0_d_61419_166)'%3E%3Ccircle cx='15' cy='15' r='6' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_61419_166' x='4' y='4' width='22' height='22' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='2.5'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.119541 0 0 0 0 0.0511111 0 0 0 0 0.266667 0 0 0 0.8 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_61419_166'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_61419_166' result='shape'/%3E%3C/filter%3E%3CclipPath id='clip0_61419_166'%3E%3Crect width='30' height='30' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    left: -1px;
    top: -2px;
    width: 30px;
    height: 30px;
    display: none;
    background-repeat: no-repeat;
    z-index: 5;
    overflow: visible;
}
.display-block{
    display: block;
}
.disclaimer-768{
    display: none;
}

.playlists__input:checked+span::before{
    display: block;
}

.playlists__text{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #A1A6B4;
    margin-bottom: 8px;
}


.playlists__list{
    flex-wrap: wrap;
}

.playlists-item{
    margin-bottom: 30px;
}


.playlists-item {
    flex-basis: calc(25% - 23px);
}

.playlists-item__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.playlists-item__name{
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #121723;
}

.playlists-item__dscr{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #A1A6B4;

}

.playlists-item:not(:nth-child(4n)){
    margin-right: 30px;
}



.playlists-item__body{
    transition:background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
}
.playlists-item__card:focus{
    background-color: #AA9DFA;
}

.playlists-item__card:focus .playlists-item__body{
    outline: 1px solid #AA9DFA;
}

.playlists-item__card:hover .playlists-item__body{
    background-color: #6D31EE;
}

.playlists-item__card:hover .playlists-item__body{
    outline: 1px solid #6D31EE;
}

.playlists-item__card:active .playlists-item__body{
    background-color: #4F28A5;
}

.playlists-item__card:active .playlists-item__body{
    outline: 1px solid #4F28A5;
}
.playlists-item__card{
    position: relative;
}
.playlists-item__top{
    background-color: #121723;
    flex-basis: calc(25% - 60px);
    height: 160px;
}

.playlists-item__card:focus .playlists-item__img{
    opacity: 0.3;
}

.playlists-item__card:hover .playlists-item__img{
    opacity: 0.3;
    background-image: url("../img/play_btn.png");
}

.playlists-item__card:active .playlists-item__img{
    opacity: 0.3;
}

.playlists-item__card:focus .playlists__btn{
    opacity: 1;
}

.playlists-item__card:hover .playlists__btn{
    opacity: 1;

}

.playlists-item__card:active .playlists__btn{
    opacity: 1;
}




.playlists-item__name{
    margin-bottom: 4px;
}

.playlists-item__body{
    padding: 16px;
    outline: 1px solid #E6E8EC;
}

.playlists__btn{
    position: absolute;
    z-index: 4;
    left: 50px;
    top: 60px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}



/* w-wave *//* w-wave *//* w-wave *//* w-wave *//* w-wave *//* w-wave *//* w-wave *//* w-wave *//* w-wave */
/* w-wave *//* w-wave *//* w-wave *//* w-wave *//* w-wave *//* w-wave *//* w-wave *//* w-wave *//* w-wave *//* w-wave */


.w-wave{
    background-color: #292E39;
    padding-top: 94px;
    padding-bottom: 134px;
}


.w-wave__title{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    color: #F0D288;
    margin-bottom: 19px;

}

.w-wave__line{
    background-image: url("data:image/svg+xml,%3Csvg width='447' height='12' viewBox='0 0 447 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1C9.24396 1 9.24396 11 17.4879 11C25.7319 11 25.7319 1 33.9758 1C42.2198 1 42.2198 11 50.4445 11C58.6887 11 58.6887 1 66.9131 1C75.1572 1 75.1572 11 83.3816 11C91.6257 11 91.6257 1 99.8693 1C108.113 1 108.113 11 116.358 11C124.601 11 124.601 1 132.845 1C141.089 1 141.089 11 149.334 11C157.577 11 157.577 1 165.821 1C174.065 1 174.065 11 182.309 11C190.553 11 190.553 1 198.797 1C207.041 1 207.041 11 215.266 11C223.51 11 223.51 1 231.734 1C239.978 1 239.978 11 248.203 11C256.447 11 256.447 1 264.69 1C272.935 1 272.935 11 281.179 11C289.422 11 289.422 1 297.666 1C305.911 1 305.911 11 314.155 11C322.398 11 322.398 1 330.642 1C338.886 1 338.886 11 347.13 11C355.374 11 355.374 1 363.618 1C371.862 1 371.862 11 380.087 11C388.331 11 388.331 1 396.556 1C404.8 1 404.8 11 413.024 11C421.268 11 421.268 1 429.512 1C437.756 1 437.756 11 446 11' stroke='%23A1A6B4' stroke-miterlimit='10' stroke-linecap='square'/%3E%3C/svg%3E%0A");
    height: 12px;
    max-width: 445px;
    margin-bottom: 19px;
}

.w-wave__dscr{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #FFFFFF;
    margin-bottom: 12px;
    border-bottom: 1px solid #A1A6B4;
}

.w-wave__dscr--bt{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.w-wave__Price{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.w-wave__btn{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #F0D288;
    padding: 25px 13.5px;
    outline: 1px solid #F0D288;
    border-radius: 100px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.w-wave__btn:focus{
    background-color: #BB973E;
    color: #121723;
}




.w-wave__btn:hover{
    background-color: #F0D288;
    color: #121723;

}

.w-wave__btn:active{
    background-color: #BB973E;
    color: #121723;
}
.w-wave__img{
    margin-right: 30px;
    background-repeat: no-repeat;
    position: 0 0;
    flex-basis: 20%;
    position: relative;
}


.w-wave-new{
    position: absolute;
    left: 0;
    top: 0;
}





.about-us__img{
    width: 450px;
    height: 290px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='446' height='292' viewBox='0 0 446 292' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.5' d='M103.536 1C46.9066 1 1 15.5154 1 33.4211C1 51.3268 46.9066 65.8423 103.536 65.8423C135.272 65.8423 161 59.6977 161 52.118C161 44.5383 135.272 38.3937 103.536 38.3937C46.9066 38.3937 1 52.9091 1 70.8148C1 88.7206 46.9066 103.236 103.536 103.236C135.272 103.236 161 97.0916 161 89.5117C161 81.9319 135.272 75.7874 103.536 75.7874C46.9066 75.7874 1 90.3919 1 108.407C1 126.423 46.9066 141.028 103.536 141.028C135.272 141.028 161 134.883 161 127.303C161 119.723 135.272 113.579 103.536 113.579C46.9066 113.579 1 128.094 1 146C1 163.906 46.9066 178.421 103.536 178.421C135.272 178.421 161 172.277 161 164.697C161 157.117 135.272 150.972 103.536 150.972C46.9066 150.972 1 165.488 1 183.394C1 201.3 46.9066 215.815 103.536 215.815C135.272 215.815 161 209.67 161 202.091C161 194.511 135.272 188.366 103.536 188.366C46.9066 188.366 1 202.882 1 220.787C1 238.693 46.9066 253.209 103.536 253.209C135.272 253.209 161 247.064 161 239.484C161 231.905 135.272 225.76 103.536 225.76C46.9066 225.76 1 240.364 1 258.38C1 276.395 46.9066 291 103.536 291' stroke='%23A1A6B4' stroke-linecap='round'/%3E%3Cpath opacity='0.5' d='M318.5 19L318.525 146.375L367.292 28.7053L318.571 146.394L408.656 56.3439L318.606 146.429L436.295 97.7076L318.625 146.475L446 146.5L318.625 146.525L436.295 195.292L318.606 146.571L408.656 236.656L318.571 146.606L367.292 264.295L318.525 146.625L318.5 274L318.475 146.625L269.708 264.295L318.429 146.606L228.344 236.656L318.394 146.571L200.705 195.292L318.375 146.525L191 146.5L318.375 146.475L200.705 97.7076L318.394 146.429L228.344 56.3439L318.429 146.394L269.708 28.7053L318.475 146.375L318.5 19Z' stroke='%23A1A6B4'/%3E%3C/svg%3E%0A");
}

.about-us__content{
    max-width: 634px;
    flex-basis: 60%;
    margin-right: 31px;
}

.about-us{
    background-color: #121723;
    padding-top: 94px;
    padding-bottom: 93px;
}
.about-us-top{
    margin-bottom: 26px;
}

.about-us__title{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 100%;
    color: #FFFFFF;
}

.about-us__subtitle{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #A1A6B4;
    margin-bottom: 8px;
}


.about-us__text{
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #A1A6B4;

}


.swiper {
    max-width: calc(100% - 200px);
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50px;
}

.swiper-slide__dscr{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #A1A6B4;
}
.swiper-slide__img{
    margin-bottom: 30px;
    display: block;
    object-fit: cover;
    width: 100%;
    max-height: 255px;

}
.swiper-slide__subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}
.swiper-button-prev{
    position: absolute;
    left: 0px;
    top: 140px;
    margin-left: 20px;
}

.swiper-button-next{
    position: absolute;
    right: 0px;
    margin-right: 20px;
    top: 140px;
}

.swiper-container{
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
}






.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '';
}

:root {
    --swiper-navigation-size: 0;
}
.swiper-container{
    margin-bottom: 30px;
}

.swiper-slide__content{
    height: 300px;

}
.about-us__form{
    flex-wrap: wrap;
    max-width: 920px;
}
.input-container{
    position: relative;
}

.just-validate-error-label{
    position: absolute;
    top: 9px;
    left: 32px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}
.about-us__input--what-u-say{
    color: white;
    width: 100%;
    height: 150px;
    border-radius: 30px;
    background-color: #121723;
    border: 1px solid white ;
    position: relative;
    padding-left: 32px;
    padding-bottom: 72px;
}
.input__container--what-u-say{
    flex-basis: 100%;
    margin-bottom: 30px;
}

.input__container--name{
    flex-basis: calc(50% - 15px);
    margin-right: 30px;
    margin-bottom: 30px;
}
.input__container--mail{
    flex-basis: calc(50% - 15px);
}

.about-us__input--name{
    color: white;
    height: 70px;
    width: 100%;
    border-radius: 40px;
    background-color: #121723;
    border: 1px solid white ;
    padding-left: 30px;
    padding-bottom: 3px;
}

.about-us__input--mail{
    color: white;
    padding-left: 30px;
    padding-bottom: 3px;
    width: 100%;
    height: 70px;
    border-radius: 40px;
    background-color: #121723;
    border: 1px solid white ;
}


.about-us__input--what-u-say::placeholder{
    position: absolute;
    left: 32px;
    top: 30px;
    color: #A1A6B4;;
}

.about-us__input--name::placeholder{
    position: absolute;
    left: 32px;
    top: 25px;
    color: #A1A6B4;;
}

.about-us__input--mail::placeholder{
    position: absolute;
    left: 32px;
    top: 25px;
    color: #A1A6B4;;
}

.about-us__input{
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.about-us__input:focus{
    background-color: #292E39;
    border: #AA9DFA;
}

.about-us__input:hover{
    background-color: #292E39;
}

.about-us__input:active{
   border-color: #FFFFFF;
   background-color: #121723;
}

.about-us__btn{
    background: none;
    outline: 1px solid #AA9DFA;
    border-radius: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 25px 54px;
    margin-bottom: 30px;
    transition: background-color 0.3s ease-in-out;
}

.about-us__btn:focus{
    background-color: #6D31EE;
}

.about-us__btn:hover{
    background-color: #AA9DFA;
}

.about-us__btn:active{
    background-color: #4F28A5;
}

.about-us__checkbox{
    opacity: 0;
    width: 0;
    height: 0;
}
.about-us__label span::before{
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: -5px;
    width: 13px;
    height:13px;
    border: 1px solid white;
}
.about-us__label span{
    position: relative;
    color:#FFFFFF;
    padding-left: 20px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px
}

.about-us__label span::after{
    content: "";
    display: block;
    position: absolute;
    left: 2px;
    top: -3px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.94976 1.08233L4.00002 6.03208L1.17159 3.20365' stroke='%23AA9DFA' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    display: none;
}

.header-bottom-nav__list{

}

.open{
    left: 0;
}

.about-us__checkbox:checked + span::after{
    display: block;
}


.footer{
    background-color: #292E39;
    padding-top: 94px;
    padding-bottom: 141px;
    background-image: url("../img/Vector.png");
    background-repeat: no-repeat;
    background-position: 0 300px;
}

.social-media__item:not(:last-child){
    margin-right: 21px;
}

.footer__container{
    justify-content: space-between;
}

.footer-nav__item{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin-right: 109px;
}

.footer-nav__list{
    height: 125px;
    display: flex;
    width: 445px;
    flex-direction: column;
    flex-wrap: wrap;
}

.login__container{
    margin: 0 auto;
}
.login{
    padding: 100px;
    background-color: #D2D5DD;
    display: flex;
}

.login__content{
    padding: 60px;
    background-color: #121723;
}


.login__title{
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 17px;
}

.login__subtitle{
    margin-bottom: 25px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.login__link{
    color: #6D31EE;
    transition: color 0.3s ease-in-out;
}


.login__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 0.1px solid rgba(230, 232, 236, 0.4);;
    width: 704px;
    margin-bottom: 30px;


}


.login__input{
    color: white;
    padding-left: 30px;
    margin-bottom: 30px;
    padding-bottom: 3px;
    height: 70px;
    border-radius: 40px;
    background-color: #121723;
    border: 1px solid white ;
    width: 576px;
}

.login__input::placeholder{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    left: 32px;

    top: 20px;
    color: #A1A6B4;;
}

.login__btn{
    padding: 25px 54px;
    background-color: #6D31EE;
    border-radius: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: white;
    margin-bottom: 30px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}


.login__btn:hover{
    background-color: #AA9DFA;
    color: white;
}
.login__btn:focus{
    background-color: #AA9DFA;
    color: white;
}
.login__btn:active{
    background-color: #4F28A5;
    color: white;
}


.login__text{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}
